.final-ui,
.final-ui * {
  box-sizing: border-box;
}
.final-ui {
  width: 1920px;
  height: 1080px;
  position: relative;
}
.rectangle-12 {
  background: #ffffff;
  border-radius: 25px;
  width: 1920px;
  height: 1080px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rectangle-13 {
  background: #004360;
  border-radius: 0px 0px 25px 25px;
  width: 1920px;
  height: 308px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rectangle-15 {
  background: #c2bfbf;
  border-radius: 25px;
  width: 1679px;
  height: 500px;
  position: absolute;
  left: 120px;
  top: 466px;
}
.rectangle-17 {
  background: #ffffff;
  width: 250px;
  height: 130px;
  position: absolute;
  left: 658px;
  top: 102px;
  text-align: center; /* Center-align the text */
  display: flex; /* Enable flexbox */
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
}
.rectangle-20 {
  background: #ffffff;
  width: 250px;
  height: 130px;
  position: absolute;
  left: 929px;
  top: 102px;
  text-align: center; /* Center-align the text */
  display: flex; /* Enable flexbox */
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
}
.rectangle-18 {
  background: #ffffff;
  border-radius: 0px 25px 25px 0px;
  width: 250px;
  height: 130px;
  position: absolute;
  left: 1196px;
  top: 102px;
  text-align: center; /* Center-align the text */
  display: flex; /* Enable flexbox */
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
}
.rectangle-21 {
  background: #ffffff;
  border-radius: 25px 0px 0px 25px;
  width: 250px;
  height: 130px;
  position: absolute;
  left: 120px;
  top: 102px;
  text-align: center; /* Center-align the text */
  display: flex; /* Enable flexbox */
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
}
.rectangle-19 {
  background: #000000;
  color: #ffffff ;
  border-radius: 25px;
  width: 311px;
  height: 130px;
  position: absolute;
  left: 1488px;
  top: 102px;
}

.search {
  color: #ffffff;
  text-align: left;
  font: 400 36px "Inter", sans-serif;
  position: absolute;
  left: 1586px;
  top: 145px;
}
.depart {
  color: #000000;
  text-align: left;
  font: 400 30px "Inter", sans-serif;
  position: absolute;
  left: 681px;
  top: 123px;
}
.cabin {
  color: #000000;
  text-align: left;
  font: 400 30px "Inter", sans-serif;
  position: absolute;
  left: 952px;
  top: 123px;
}
.platform {
  color: #000000;
  text-align: left;
  font: 400 30px "Inter", sans-serif;
  position: absolute;
  left: 1221px;
  top: 123px;
}
.from {
  color: #000000;
  text-align: left;
  font: 400 30px "Inter", sans-serif;
  position: absolute;
  left: 149px;
  top: 123px;
}
.anywhere {
  color: #817474;
  text-align: left;
  font: 400 30px "Inter", sans-serif;
  position: absolute;
  left: 149px;
  top: 167px;
}
.rectangle-16 {
  background: #ffffff;
  width: 250px;
  height: 130px;
  position: absolute;
  left: 390px;
  top: 102px;
  text-align: center; /* Center-align the text */
  display: flex; /* Enable flexbox */
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
}
.to {
  color: #000000;
  text-decoration-color: #ffffff;
  text-align: left;
  font: 400 30px "Inter", sans-serif;
  position: absolute;
  left: 413px;
  top: 123px;
}
.anywhere2 {
  color: #817474;
  text-align: left;
  font: 400 30px "Inter", sans-serif;
  position: absolute;
  left: 413px;
  top: 167px;
}
.anytime {
  color: #817474;
  text-align: left;
  font: 400 30px "Inter", sans-serif;
  position: absolute;
  left: 681px;
  top: 167px;
}
.all-cabin {
  color: #817474;
  text-align: left;
  font: 400 30px "Inter", sans-serif;
  position: absolute;
  left: 952px;
  top: 167px;
}
.all-platforms {
  color: #817474;
  text-align: left;
  font: 400 30px "Inter", sans-serif;
  position: absolute;
  left: 1221px;
  top: 167px;
}
.download-data-as-csv {
  color: #655e5e;
  text-align: left;
  font: 400 36px "Inter", sans-serif;
  text-decoration: underline;
  position: absolute;
  left: 1414px;
  top: 365px;
}
